@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
headlines:  / 
artikelnamen, footerlinks: 
restlicher text: #000
font-family: 'Karla', sans-serif;
*/

:root {
    --headline-color: #323A45;
    --main-txt-color: #848484;  
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
    font-family: 'Karla', sans-serif;
}

#logo {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 3%;
}


nav {
    /* border: 5px solid red; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

ul {
    /* border: 5px solid blue; */
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

nav a:hover {
    color: var(--main-txt-color);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.header {
    /* border: 5px solid green; */
    display: flex;
    justify-content: center;
}

.figcap {
    display: flex;
    justify-content: space-between;
    padding: 1.5% 0 .5% 0;
}

.brand {
    color: var(--main-txt-color);
}

figure img {
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

figure img:hover {
    opacity: .4;
}

.figImg {
    width: 100%;
}

.productGallery {
    display: grid;
    grid-template-columns: repeat(3, 26%);
    gap: 3%;
    justify-content: center;
    margin: 3% 0 5% 0;
}